<template>
    <require from="../range.html"></require>
    <require from="../receptacle.html"></require>
    <require from="../bind2previous"></require>
    <require from="../fmi"></require>
    <require from="../graphs/dygraphchart"></require>
    <require from="../graphs/chartjs"></require>
    <require from="./animatedheart"></require>

    <h2>Cardiac Cycle</h2>
    <table>
      <tr>
        <td>
        <range id="id1" min="40" max="180" step="1" default="60" title="Heart rate"></range><!-- slidervalue.bind="${myvalue}" ly.bind="${myvalue}"-->
        </td>
        <td rowspan="3">
          <dygraphchart width="600" height="300" fromid="id4" inputs="time,aorta pressure,ventricle pressure" refindex="0" refvalues="2"></dygraphchart>
        </td>
      </tr>
       <tr>
         <td>
           <fmi id="id4" src="MeursFMI.js" fminame="MeursHemodynamics_Model_vanMeursHemodynamicsModel"
                fstepsize="0.01"
                tolerance="0.000001" starttime="0" guid="{1cd90fb1-006b-4957-b1f2-012702efe021}"
                valuereferences="637534215,637534232,33554436,33554438,33554442,33554440,33554441,33554443,637534227"
                valuelabels="Pressure in Aorta,Pressure in Left Ventricle, Intrathoracic Artery Volume, Extrathoracic Arteries Volume, Pulmonary Arteries Volume, Intrathoracic Veins Volume, Extrathoracic Veins volume, Pulmonary Veins Volume,Left Ventricle Elastance"
                inputs="id1,16777216,1,60"></fmi>
         </td>
       </tr>
    <tr>
      <td>
        <chartjs id="id9" width="300" height="500" fromid="id4" type="doughnut" labels="Intrathoracic Arteries,ExtraThoracic Arteries, Pulmonary Arteries, Intrathoracic Veins, Extrathoracic veins, Pulmonary Veins" refindex="2" refvalues="6"></chartjs>
      </td>
    </tr>




    </table>

</template>
