.DS_STORE
Thumbs.db

.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependencies
node_modules

# Sources and confs
/aurelia_project
/bin
/config
/doc
/src
/static
/test
.*
index.ejs
package-lock.json
protractor.conf.js
webpack.config.js
