<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
    <!-- markdown-it-toc ... CSS smooth scroll-->
    <style type="text/css">
      body { scroll-behavior: smooth; }
    </style>

  </head>
  <body aurelia-app="webcomponents">
    <bdl-markdown-book index="doc/index.md" summary="doc/summary.md"></bdl-markdown-book>
    <!--bdl-markdown-app index="doc/index.md" summary="doc/summary.md"></bdl-markdown-book-->
  </body>
</html>
