<template>
  <span show.bind="!playsegments">
  <button class="w3-button" click.delegate="startstop()" title="Start/Stop simulation"><i class.bind="animationstarted? 'fa fa-stop':'fa fa-play'"></i> &nbsp;</button>
  <button class="w3-button" click.delegate="step()" title="Do simulation step"><i class="fa fa-step-forward"></i> &nbsp;</button>
    </span>
  <span show.bind="playsegments">
    <button class="w3-button" click.delegate="segment()" title="Do simulation step"><i class="fa fa-step-forward"></i> &nbsp;</button>
    <label>${currentsegmentlabel}</label>
  </span>
</template>
