<template bindable="summary,index,base">
  <require from="../../w3.css"></require>
  <require from="./markdownnav"></require>
  <require from="./markdown"></require>
  <require from="./watchhash"></require>
  <div class="w3-row" style="display:flex">
    <div class.bind="shownav ? 'w3-col m3 l2':''" show.bind="shownav">
      <markdownnav navstyle="vertical" base="${base}" src="${summary}" style="position:sticky;top:0;" watchhash="summary,1"></markdownnav>
    </div>
    <div class.bind="shownav? 'w3-col m9 l10':''">
      <markdown base="${base}" src="${index}" watchhash="index,0"></markdown>
    </div>
  </div>
  <!--
    <div style="width:12%">
      <markdownnav navstyle="vertical" src="${summary}"></markdownnav>
    </div>
    <div style="margin-left:12%">
      <markdown src="${index}" watchhash="true"></markdown>
    </div>
-->
</template>
