<template bindable="summary,index,base">
  <require from="../../w3.css"></require>
  <require from="../../w3-theme-indigo.css"></require>
  <require from="./markdownnav"></require>
  <require from="./markdown"></require>
  <require from="./watchhash"></require>
  <div class="w3-row">
    <div class="w3-theme w3-left" style="max-width:450px" show.bind="shownav&&showmenu">
      <markdownnav navstyle="vertical" base="${base}" src="${summary}" watchhash="summary,1;base,3"></markdownnav>
    </div>
    <div class="w3-rest">
      <div class="w3-theme-dark" show.bind="showmenu">
        <button class="w3-button w3-xlarge" click.delegate="openclosenav()">&#9776;</button>
        <!--button class="w3-button w3-xlarge" click.delegate="openprevious()"><i class="fa fa-chevron-left"></i></button>
        <button class="w3-button w3-xlarge" click.delegate="opennext()"><i class="fa fa-chevron-right"></i></button-->
      </div>
      <markdown base="${base}" src="${index}" watchhash="index,0;base,3"></markdown>
    </div>
  </div>
</template>
