<template>
  <require from="../range.html"></require>
  <require from="../receptacle.html"></require>
  <require from="../fmi"></require>
  <require from="../dygraphchart"></require>
  <require from="../chartjs"></require>
  <require from="../bind2previous"></require>
  <require from="../beaker.html"></require>
  <require from="./markdown"></require>
  <require from="./beakercontrols.html"></require>
  <require from="../physiology/cardiaccycle1.html"></require>
  <require from="../physiology/capillary.html"></require>
  <require from="../physiology/animatedheart.html"></require>

  <section class="w3-small">
        <dynamic-html html.bind="html"></dynamic-html>
    </section>
</template>
