<template>
  <require from="../range.html"></require>
  <require from="../receptacle.html"></require>
  <require from="../fmi"></require>
  <require from="../graphs/dygraphchart"></require>
  <require from="../graphs/chartjs"></require>
  <require from="../graphs/bdl-chartjs-time"></require>
  <require from="../graphs/bdl-chartjs-xy"></require>
  <require from="../bind2previous"></require>
  <require from="../beaker.html"></require>
  <require from="./beakercontrols.html"></require>
  <require from="../physiology/cardiaccycle1.html"></require>
  <require from="../physiology/capillary.html"></require>
  <require from="../physiology/bdl-ecg"></require>
  <require from="../animate/bdl-animate-gif"></require>
  <require from="../animate/bdl-animate-control"></require>
  <require from="../animate/bdl-animate-sync-gif"></require>
  <require from="highlight.js/styles/github.css"></require>
  <require from="@traptitech/markdown-it-katex/node_modules/katex/dist/katex.css"></require>
  <require from="./markdown"></require>
  <div class="w3-margin">
  <section class="w3-small w3-card-2 w3-padding">
    <dynamic-html html.bind="html"></dynamic-html>
  </section>
  </div>
</template>
