
<template>
  <!--require from="components/composite/markdown"></require-->
  <require from="components/receptacle.html"></require>
  <require from="components/range.html"></require>
  <require from="components/bind2previous"></require>
  <!--require from="../physiology/bdl-ecg"></require>
  <require from="../physiology/capillary.html"></require-->
  <require from="../../w3.css"></require>
  <require from="highlight.js/styles/github.css"></require>
  <require from="font-awesome/css/font-awesome.min.css"></require>
  <require from="@traptitech/markdown-it-katex/node_modules/katex/dist/katex.css"></require>
  <require from="./markdownnav"></require>
  <!--require from="components/physiology/ecg"></require-->
  <div class="w3-margin">

    <section class="w3-large w3-card-2 w3-padding">
      <div ref="mydiv"></div>
    </section>

  </div>

</template>
