.bdl-sidebar {
    background-color: #f9f9f9; /* Light grey background */
    padding: 10px; /* Padding around the links */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Add shadow for better visibility */
    margin-right: 20px; /* Space between the navbar and the content */
    line-height:1.0;
    opacity: 0.92;
    max-height:90vh;
    overflow-y: auto;
}
.bdl-narrow {
  float:left;
  width:160px;
  position:fixed;
}
.bdl-wide {
  float:left;
  width:320px;
  position:fixed;
}
.bdl-narrowbar {
  float:left;
  width:160px;
}
.bdl-widebar {
  float:left;
  width:320px;
}


.bdl-sidebar.s1{width:8.33333%}.bdl-sidebar.s2{width:16.66666%}.bdl-sidebar.s3{width:24.99999%}.bdl-sidebar.s4{width:33.33333%}
.bdl-sidebar.s5{width:41.66666%}.bdl-sidebar.s6{width:49.99999%}.bdl-sidebar.s7{width:58.33333%}.bdl-sidebar.s8{width:66.66666%}
.bdl-sidebar.s9{width:74.99999%}.bdl-sidebar.s10{width:83.33333%}.bdl-sidebar.s11{width:91.66666%}.bdl-sidebar.s12{width:99.99999%}
@media (min-width:601px){.bdl-sidebar.m1{width:8.33333%}.bdl-sidebar.m2{width:16.66666%}.bdl-sidebar.m3{width:24.99999%}.bdl-sidebar.m4{width:33.33333%}
  .bdl-sidebar.m5{width:41.66666%}.bdl-sidebar.m6{width:49.99999%}.bdl-sidebar.m7{width:58.33333%}.bdl-sidebar.m8{width:66.66666%}
  .bdl-sidebar.m9{width:74.99999%}.bdl-sidebar.m10{width:83.33333%}.bdl-sidebar.m11{width:91.66666%}.bdl-sidebar.m12{width:99.99999%}}
@media (min-width:993px){.bdl-sidebar.l1{width:8.33333%}.bdl-sidebar.l2{width:16.66666%}.bdl-sidebar.l3{width:24.99999%}.bdl-sidebar.l4{width:33.33333%}
  .bdl-sidebar.l5{width:41.66666%}.bdl-sidebar.l6{width:49.99999%}.bdl-sidebar.l7{width:58.33333%}.bdl-sidebar.l8{width:66.66666%}
  .bdl-sidebar.l9{width:74.99999%}.bdl-sidebar.l10{width:83.33333%}.bdl-sidebar.l11{width:91.66666%}.bdl-sidebar.l12{width:99.99999%}}

.bdl-contentbar.s1{margin-left:8.33333%}.bdl-contentbar.s2{margin-left:16.66666%}.bdl-contentbar.s3{margin-left:24.99999%}.bdl-contentbar.s4{margin-left:33.33333%}
.bdl-contentbar.s5{margin-left:41.66666%}.bdl-contentbar.s6{margin-left:49.99999%}.bdl-contentbar.s7{margin-left:58.33333%}.bdl-contentbar.s8{margin-left:66.66666%}
.bdl-contentbar.s9{margin-left:74.99999%}.bdl-contentbar.s10{margin-left:83.33333%}.bdl-contentbar.s11{margin-left:91.66666%}.bdl-contentbar.s12{margin-left:99.99999%}
@media (min-width:601px){.bdl-contentbar.m1{margin-left:8.33333%}.bdl-contentbar.m2{margin-left:16.66666%}.bdl-contentbar.m3{margin-left:24.99999%}.bdl-contentbar.m4{margin-left:33.33333%}
    .bdl-contentbar.m5{margin-left:41.66666%}.bdl-contentbar.m6{margin-left:49.99999%}.bdl-contentbar.m7{margin-left:58.33333%}.bdl-contentbar.m8{margin-left:66.66666%}
    .bdl-contentbar.m9{margin-left:74.99999%}.bdl-contentbar.m10{margin-left:83.33333%}.bdl-contentbar.m11{margin-left:91.66666%}.bdl-contentbar.m12{margin-left:99.99999%}}
@media (min-width:993px){.bdl-contentbar.l1{margin-left:8.33333%}.bdl-contentbar.l2{margin-left:16.66666%}.bdl-contentbar.l3{margin-left:24.99999%}.bdl-contentbar.l4{margin-left:33.33333%}
    .bdl-contentbar.l5{margin-left:41.66666%}.bdl-contentbar.l6{margin-left:49.99999%}.bdl-contentbar.l7{margin-left:58.33333%}.bdl-contentbar.l8{margin-left:66.66666%}
    .bdl-contentbar.l9{margin-left:74.99999%}.bdl-contentbar.l10{margin-left:83.33333%}.bdl-contentbar.l11{margin-left:91.66666%}.bdl-contentbar.l12{margin-left:99.99999%}}
