<template>
  <fieldset>
    ${question}
    <ul class="w3-ul">
    <li repeat.for="answer of answer_exp_array">
      <input type="checkbox" checked.bind="answer.user" class="w3-check" disabled.bind="showresult"/><label>${answer.answer}</label>
      <p show.bind="showresult" class="w3-theme-l5 w3-small">
        <span show.bind="answer.user===answer.correct" title="OK"><i class="fa fa-thumbs-o-up"></i></span>
        <span show.bind="answer.user!==answer.correct" title="incorrect"><i class="fa fa-times"></i></span>
        <input type="checkbox" checked.bind="answer.correct" disabled/> <label>${answer.explanation}</label>
      </p>
    </li>
    </ul>
    <input type="submit" value="Submit" click.delegate="submit()"/>
  </fieldset>
</template>
