nav.horizontal ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.horizontal a:link,
nav.horizontal a:visited {
  color: white;
  text-decoration: none;
}

nav.horizontal li li a:link,
nav.horizontal li li a:visited {
/*  color: #303030;*/
  text-decoration: none;
  padding: 6px 8px;
}

nav.horizontal a {
  display: block;

}

nav.horizontal li {
  float: left;
  background-color: #393b3e;
  color: white !important;
  margin-right: 0px;
  position: relative;
  padding: 0.9em;
}

/*this adds an arrow to every link*/
nav.horizontal li > a:after { content: ' \2193' }

/*this adds an arrow to every link*/
nav.horizontal li li > a:after { content: ' \2192' }


/* this removes the arrow when the link is the only child*/
nav.horizontal li > a:only-child:after { content: ''; }

nav.horizontal li li{
  width: 160px;
  z-index:4;
  /*background-color: #c7f3ff;*/
  padding: 0;
  /*border-bottom: solid 1px black;*/
}

nav.horizontal li:hover {
  background-color: #55afff;
  z-index:2;
}
/*
nav li li:hover {
  background-color: #757575;
}*/

nav.horizontal ul ul  {
  position: absolute;
  visibility: hidden;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  border: solid 1px #474747;
}

nav.horizontal ul ul ul{
  position: absolute;
  left: 100%;
  top: -2px;
  border: solid 1px black;
}

nav.horizontal li:hover > ul {
  visibility: visible;
}

nav.vertical {
  overflow: auto;
  margin-top: 15px;
  /*position:fixed;
  top:0;*/
}
nav.vertical:hover {
  z-index: 2;
  /*opacity: 80%;*/
}

nav.vertical ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  white-space: nowrap;
}

nav.vertical li span {
  color: black;/*#000;*/
}

nav.vertical li a {
  display: inline-block;
  width:93%;
  color: black;/*#000;*/
  padding: 0px 8px 0px 16px;
  text-decoration: none;
  white-space: normal;
}

nav.vertical li a.active {
  background-color: antiquewhite;
  color: darkgray;
}

nav.vertical li span:hover,
nav.vertical li a:hover:not(.active) {
  background-color: darkgray;/*#222;*/
  color: white;
}

nav.vertical li li a {font-size:smaller;color:#7d97a5}
nav.vertical li li li a {font-size:smaller;color:#7d97a5}

/*this adds a space and bullet to every link
nav.vertical li > a:after { content: '\00a0\203a' } */

/*this adds spaces and a square to every link*/
nav.vertical li li > a:before { content: '\00a0\00a0\00a0\25a0\00a0' }
nav.vertical li li > a:after { content: '' }

/*this adds spaces and inverse square to every link*/
nav.vertical li li li > a:before { content: '\00a0\00a0\00a0\00a0\00a0\00a0\25a1\00a0' }
nav.vertical li li li > a:after { content: '' }

.activenavitem {
  background-color: #ffe69b;
}
