.w3-palatino {
 font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.w3-georgia {
    font-family: Georgia, serif;
}
.w3-times {
    font-family: "Times New Roman", Times, serif;
}

.w3-arial {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}